$font-size: 18px;

//Colors
$slateBlue: hsl(252, 100%, 65%);
$royalBlue: hsl(241, 81%, 54%);

$violetBlue: hsl(256, 81%, 44%);
$persianBlue: hsla(241, 72%, 46%, 0);

$lightRed: hsl(0, 77%, 58%);
$orange: hsl(39, 100%, 56%);
$teal: hsl(166, 100%, 37%);
$cobalt: hsl(234, 85%, 45%);
